<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.7/css/bootstrap.min.css}" />
    <title>Menù Pizze</title>
</head>

<body>
    <th:block th:replace="~{fragments/fragments :: navbar}"></th:block>

    <main class="container">
        <div class="row">
            <div class="col-12">
                <th:block>
                    <h1 class="text-center fw-bold">Modify a New Offert for [[${offert.pizza.name}]]</h1>
                    <div class="row justify-content-center">
                        <form th:action="@{/offerts/edit/{id}(id=${offert.id})}" th:object="${offert}" method="post">

                            <!-- Campo nascosto per l'id della pizza -->
                            <input type="hidden" th:field="*{pizza.id}" />
                            <input type="hidden" th:field="*{id}" />

                            <div class="mb-3">
                                <label class="form-label" for="titleOffer">Title Offer:</label>
                                <input class="form-control" type="text" id="titleOffer" th:field="*{titleOffer}"
                                    th:errorClass="is-invalid">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('titleOffer')}">
                                    <ul>
                                        <li th:each="error: ${#fields.errors('titleOffer')}" th:text="${error}" />
                                    </ul>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="offerDate">Offer Date:</label>
                                <input class="form-control" type="date" id="offerDate" th:field="*{offerDate}"
                                    th:errorClass="is-invalid">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('offerDate')}">
                                    <ul>
                                        <li th:each="error: ${#fields.errors('offerDate')}" th:text="${error}" />
                                    </ul>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="finishOfferDate">Finish Offer Date:</label>
                                <input class="form-control" type="date" id="finishOfferDate"
                                    th:field="*{finishOfferDate}" th:errorClass="is-invalid">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('finishOfferDate')}">
                                    <ul>
                                        <li th:each="error: ${#fields.errors('finishOfferDate')}" th:text="${error}" />
                                    </ul>
                                </div>
                            </div>

                            <div class="mb-3 f-flex-justify-content-between">
                                <input type="submit" class="btn btn-primary" value="Update">
                                <input type="reset" class="btn btn-warning" value="Reset">
                            </div>
                        </form>
                    </div>
                </th:block>
            </div>
        </div>
    </main>

</body>

</html>